body {
	font-family: Arial, sans-serif;
    font-size: 12px;
    margin: 0;
    background: url(../images/bf.png);
}

header {
	background: url(../images/header_bg.png);
	width: 100%;
	min-height: 196px;
	}

header .wrapper {
	width: 940px;
	margin: 0 auto;
	height: 196px;	
	position: relative;
	}

header .site-info {
	float: left;
	margin: 30px 0;
	background: rgba(255,255,255,0.1);
    box-shadow: 0 0 100px 100px rgba(255,255,255, 0.1);
}

header .site-info a {
	font-size: 47px;
	margin-top: 30px;
	font-weight: 600;
	margin-bottom: 11px;
	line-height: 44px;
	letter-spacing: -4px;
	text-decoration: none;
	color: #fdd105;
}

header .site-info span {
	font-weight: 300;
	color: #FFF;
}

.site-info .slogan {
	display: block;
	font-size: 11px;
	color: #FFF;
	letter-spacing: 0px;
	text-transform: uppercase;
	margin-top: 5px;
}

#search {
	float: right;
	margin-top: 40px;
}

header input[type="text"]{
	border: 1px solid #1e1e1e;
    border-top: 1px solid #0e0e0e;
    border-bottom: 1px solid #424242;
    border-radius: 3px;
    height: 32px;
    width: 205px;
    float: left;
    margin-right: 2px; 
    background: rgba(255,255,255,0.1);
    color: #FFF;
}

header input[type="submit"]{
	border-radius: 2px;
    border: none;
    background: url(../images/leans.png);
    background-color: #fed517;
    width: 33px;
    height: 32px;
    text-indent: -9999px;
}


header .wrapper .nav {
	position: absolute;
	bottom: 0;
	background: #fcfcfc;
	margin: 0;
	width: 100%;
	padding: 0;
	background: linear-gradient(#ffffff, #efefef);
	list-style-type: none;
	border-radius: 9px 9px 0 0;
}

header .nav li {
	float: left;
	border-right: 1px solid #e3e3e3;
}

header .nav li a {
	text-decoration: none;
	font-size: 16px;
	font-weight: 600;
	color: #1d1d1d;
	padding: 26.5px 35px;
	display: inline-block;

}

.nav li:first-child a {
	border-radius: 9px 0 0;
}

.nav li:last-child {
	border-right: none;
}	

.nav li:last-child a {
    border-top-right-radius: 9px;
}
.nav a:hover {
	color: #fff;
	background: linear-gradient(#454545, #363636);
}

@media all and (-webkit-min-device-pixel-ratio: 2) {
    .header-wrapper {
    	background: url(../images/header_bg@2.png);
    }
}

.content h1,
.content h3,
header .site-info a,
.span,
header .nav li,
.block-sb h2
{
font-family: 'Open Sans', sans-serif;
text-transform: uppercase;
}

.cont-wrap {
	width: 940px;
	margin: 0 auto;
	background: #fff;
	overflow: hidden;
	padding-top: 45px;
}	


.cont-wrap .content {
	float: left;
	width: 590px;
	padding-left: 35px;
	box-sizing: border-box;

	}

.content h1 {
	font-weight: 600;
	font-size: 32px;
	color: #3d3d3d;
	margin-top: 5px;
	line-height: 20px;
	margin-bottom: 0;
	letter-spacing: -2px;
	}

.content .block {
	width: 505px;
	border-bottom: 1px solid #e5e5e5;
}

.content h3 {
	font-weight: 600;
	font-size: 18px;
	color: #3d3d3d;
	margin-top: 35px;
	margin-bottom: 13px;
	letter-spacing: -1px;
	}

.content h4 {
	font-size: 14px;
	font-family: Myriad Pro;
	font-weight: normal;
	color: #646464;
	margin: 0;
	}

.block img {
	margin: 30px 0;
	border-radius: 9px;
}

.content .block h5,
.content .block p {
	font-size: 12px;
	margin: 0 0 30px 0;
	line-height: 22px;
}

.content .block h5 {
	font-weight: bold;
	color: #3d3d3d;
}

.content .block p {
	color: #717274;
}

.content .block a {
  display: inline-block;
  color: white;
  font-weight: bold;
  font-size: 11px;
  padding: 10px 17px;
  outline: none;
  border: 0;
  border-radius: 5px;
  background: linear-gradient(#474747, #343434);
  text-decoration: none;
  margin-bottom: 50px;
  box-shadow: 1px 1px 10px rgba(0,0,0,0.5);
}

.sidebar {
	float: right;
	width: 350px;
	border-left: 1px solid #e5e5e5;
	box-sizing: border-box;
	padding-left: 50px;
}

.block-sb {
	
	width: 265px;
	border-bottom: 1px solid #e5e5e5;
}

.block-sb h2 {
	margin-bottom: 33px;
	margin-top: 0;
}

.block-sb .nav2 {
	list-style-type: none;
	padding: 0;

}

.block-sb .nav2 li {
	text-transform: uppercase;
	font-size: 11px;
	margin-bottom: 22px;
}

.block-sb .nav2 li a {
	text-decoration: none;
	color: #717274;
}